In [1]:
import numpy as np
import pandas as pd

In [3]:
#index level, MultiLevel index
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [7]:
inside

[1, 2, 3, 1, 2, 3]

In [9]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [27]:
data = np.random.randn(6,2)
df = pd.DataFrame(data, hier_index, ['A', 'B'])
df

             A         B
G1 1  1.070941  0.668880
   2 -0.092575 -0.771075
   3 -0.067059 -1.677201
G2 1 -0.537516  0.558289
   2  0.423941  0.617204
   3  0.240911 -1.296238

In [33]:
#naming the index

df.index.names = ['Groups', 'Nums']
df

                    A         B
Groups Nums
G1     1     1.070941  0.668880
       2    -0.092575 -0.771075
       3    -0.067059 -1.677201
G2     1    -0.537516  0.558289
       2     0.423941  0.617204
       3     0.240911 -1.296238

In [35]:
#Selection
df.loc['G1']

             A         B
Nums
1     1.070941  0.668880
2    -0.092575 -0.771075
3    -0.067059 -1.677201

In [43]:
df.loc['G2'].loc[2]

0.6172041380086745